<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Page</title>
</head>
<body>
  <a href="javascript:history.back()">Back</a>
  <h1>Edit Page</h1>
  <form action="/peaces/<%= peace.id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%= peace.name %>"/>

    <select name="game">
      <% ['DOTA', 'Irl', 'LoL', 'Smite'].forEach(function(option) { %>
        <option value="<%= option %>" <%= option === peace.game ? 'selected' : '' %>><%= option %></option>
      <% }) %>
    </select>

    <input type="date" name="when" value="<%= formattedDate %>">
    
    <select name="troll">
      <% ['Cheater', 'Griefer', 'Inter', 'Racist', 'Toxic'].forEach(function(option) { %>
        <option value="<%= option %>" <%= option === peace.troll ? 'selected' : '' %>><%= option %></option>
      <% }) %>
    </select>

    <input type="text" name="details" value="<%= peace.details %>"/>

    <button type="submit">Update Troll</button>
  </form>
</body>
</html>
