<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="javascript:history.back()">Back</a>
  <h1>Create a New Offender</h1>
  <form action="/all" method="POST">
    <input type="text" name="name" value=""/>
    <select name="game">
      <% ['DOTA', 'Irl', 'LoL', 'Smite'].forEach(function(option) { %>
        <option value="<%= option %>" <%= option === 'LoL' ? 'selected' : '' %>><%= option %></option>
      <% }) %>
    </select>
    <input type="date" name="when" value="<%= new Date().toISOString().split('T')[0] %>">
    <select name="troll">
      <% ['Cheater', 'Griefer', 'Inter', 'Racist', 'Toxic'].forEach(function(option) { %>
        <option value="<%= option %>" <%= option === 'Toxic' ? 'selected' : '' %>><%= option %></option>
      <% }) %>
    </select>
    <button type="submit">New Troll</button>
  </form>
</body>
</html>
