<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table {
      width: auto;
      table-layout: fixed;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
    td:nth-child(2) {
      width: 50%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .button-container .button {
      margin: 0 8px;
      padding: 10px 16px;
      border-radius: 18px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      vertical-align: top;
    }
    .button-container .peace-button {
      background-color: green;
      color: white;
      border: none;
    }
    .button-container .lick-back-button {
      background-color: red;
      color: white;
      border: none;
    }
    .button-container .button:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }
  </style>
</head>
<body>
  <h1><%= peace.name %></h1>
  <table>
    <tr>
      <th>Field</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= peace.name %></td>
    </tr>
    <tr>
      <td>Game:</td>
      <td><%= peace.game %></td>
    </tr>
    <tr>
      <td>When:</td>
      <td><%= peace.when %></td>
    </tr>
    <tr>
      <td>Troll:</td>
      <td><%= peace.troll %></td>
    </tr>
    <tr>
      <td>Details:</td>
      <td><%= peace.details %></td>
    </tr>
    <tr>
      <td colspan="2">
        <a href="/edit/<%= peace.id %>">Update Offence</a>
      </td>
    </tr>
  </table>

  <div class="button-container">
    <h3>Choose:</h3>
    <form action="/peaces/<%= peace.id %>?_method=DELETE" method="POST">
      <input class="button peace-button" type="submit" value="Peace"/>
    </form>
    <form action="/peaces/<%= peace.id %>/lickback" method="POST">
      <button class="button lick-back-button" type="submit">Get Yo Lick Back</button>
    </form>
  </div>

</body>
</html>
